<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwConfigExceptions="true" throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="logDirectory" value="${basedir}/logs"/>
  <targets async="true">
    <target xsi:type="File" name="fInfo" fileName="${logDirectory}/Traces.log"
            archiveFileName="${logDirectory}/Traces_${shortdate}.log" archiveEvery="Day" maxArchiveFiles="7"
            keepFileOpen="false" openFileCacheTimeout="60" cleanupFileName="false" concurrentWrites="false">
      <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="true">
        <column name="RequestID" layout="${aspnet-traceidentifier}" />
        <column name="UserID" layout="${mdlc:UserID}" />
        <column name="IP" layout="${aspnet-request-ip}" />
        <column name="Time" layout="${longdate}" />
        <column name="Level" layout="${level:upperCase=true}"/>
        <column name="Started" layout="${mdlc:Started}" />
        <column name="Ended" layout="${mdlc:Ended}" />
        <column name="TotalTimeMs" layout="${mdlc:TotalTimeMs}" />
        <column name="Method" layout="${aspnet-request-method}" />
        <column name="Url" layout="${aspnet-request-url}" />
        <column name="QueryString" layout="${aspnet-request-querystring}" />
        <column name="ResponseStatusCode" layout="${aspnet-response-statuscode}" />
        <column name="Message" layout="${message}" />
      </layout>
    </target>
    <target xsi:type="File" name="fError" fileName="${logDirectory}/Exceptions.err"
            archiveFileName="${logDirectory}/Exceptions_${shortdate}.err" archiveEvery="Day" maxArchiveFiles="7"
            keepFileOpen="false" openFileCacheTimeout="60" cleanupFileName="false" concurrentWrites="false">
      <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="true">
        <column name="RequestID" layout="${aspnet-traceidentifier}" />
        <column name="UserID" layout="${mdlc:UserID}" />
        <column name="IP" layout="${aspnet-request-ip}" />
        <column name="Time" layout="${longdate}" />
        <column name="Level" layout="${level:upperCase=true}"/>
        <column name="Message" layout="${message}" />
        <column name="Exception" layout="${exception:format=ToString}"/>
        <column name="Stacktrace" layout="${stacktrace:topFrames=10}" />
      </layout>
    </target>
    <target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" maxlevel="Error" writeTo="fInfo" />
    <logger name="*" minlevel="Error" writeTo="fError" />
  </rules>
</nlog>
